<html>

<head>
	<link rel = "stylesheet" href = "/assets/bulma/bulma.css">
</head>

<body>

	<div class="container">

	<section class="hero">
		<h1 class="title">Hello from Delve server</h1>
	</section>

	<table class="table">

		<thead>
			<tr>
				<th>ID</th>
				<th>TTT</th>
			</tr>
		</thead>

		<tbody>
			{{ range $k, $v := .server.Agents }}
			<tr>
				<td>{{ $k }}</td>
				<td>derph</td>
			</tr>
			{{ end }}
		</tbody>

	</table>

	</div>

</body>

</html>
